# Build directory
build/

# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe
*.out
*.app
stockfish-api

# Compiled dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Compiled static libraries
*.a
*.lib
*.la
*.lo

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Core dumps
core
core.*

# Editor/IDE files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Dependency files
*.d
.deps/

# Compiler cache
.cache/
